    /* main */
    
    body {
        background-color: #f4f4f4;
    }
    
    ul {
        list-style: none;
    }
    /* header */
    
    header {
        background: #35424a;
        color: #ffffff;
        padding-top: 10px;
        padding-bottom: 10px;
        border-bottom: #e8491d 3px solid;
    }
    
    .flex-container-row {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
    }
    
    .flex-container-coloumn {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
    }
    
    header h1 {
        font-size: 45px;
        margin: 0px;
        padding: 0px;
        /* font-family: algerian, courier; */
        text-transform: uppercase;
        font-family: 'Gotham SSm A', 'Gotham SSm B';
    }
    
    header h1+div {
        font-size: 17px;
        color: rgba(255, 255, 255, 0.9);
        text-align: right;
        margin-bottom: 20px;
    }
    
    .orange {
        color: #e8491d;
    }
    
    header a {
        color: white;
        text-decoration: none;
        font: 20px;
    }
    
    header a:hover {
        color: #e8491d;
        text-decoration: none;
    }
    /* navigation */
    
    nav {
        text-transform: uppercase;
    }
    
    .navbar {
        margin: 0px;
        border-radius: 0px;
        position: sticky;
        z-index: 2000;
        top: 0;
    }
    
    .dropdown-menu li {
        display: none;
        background-color: #f0613ac4;
    }
    
    .dropdown-menu {
        padding: 0%;
        display: block;
        opacity: 1;
        border: 0px;
        box-shadow: 0px 0px 0px 0px;
        background-color: transparent;
    }
    
    .dropdown-menu li a {
        padding-bottom: 3px;
        color: white;
    }
    
    .dropdown-menu li a:hover {
        font-weight: bold;
    }
    
    .submenu {
        position: absolute;
        top: 0px;
        left: 100%;
        text-align: left;
        list-style: none;
        min-width: auto;
        margin: 0px;
        padding: 0px;
    }
    
    .submenu a {
        display: none;
        padding-bottom: 3px;
        padding-top: 3px;
        padding-left: 15px;
        padding-right: 15px;
        background-color: #f0613ac4;
        text-decoration: none;
    }
    
    .submenu a:hover {
        color: black;
        font-weight: bold;
        background-color: white;
    }
    
    @media screen and (max-width:992px) {
        .flex-container-row {
            justify-content: center;
            padding-top: 20px;
        }
        header h1 {
            font-size: 40px;
        }
        header div a img {
            margin-right: 20px;
            height: 130px;
        }
        header ul {
            margin-top: 30px;
        }
        header ul li {
            margin-right: 20px;
            display: inline-block;
        }
    }
    
    @media screen and (max-width: 768px) {
        header div a img {
            margin-bottom: 15px;
            height: 110px;
        }
        .flex-container-row {
            flex-direction: column;
        }
        .dropdown-menu {
            display: none;
        }
        .dropdown-menu li {
            display: block;
            background-color: #212529;
        }
        .submenu {
            position: relative;
            left: 0px;
        }
        .submenu a {
            display: block;
            background-color: grey;
        }
        .dropdown-menu li a {
            color: black;
        }
        .sub-container {
            max-width: 500px;
            min-width: 200px;
        }
    }
    
    @media screen and (max-width: 620px) {
        header h1 {
            font-size: 35px;
            text-align: center;
        }
        header h1+div {
            font-size: 15px;
            text-align: center;
        }
        header div a img {
            margin-right: 0px;
            height: 100px;
        }
    }
    
    @media screen and (min-width: 768px) {
        .sub-dropdown:hover .submenu a,
        .dropdown:hover .dropdown-menu li,
        .btn-group:hover .dropdown-menu li {
            display: block;
        }
        .dropdown:hover {
            background-color: black;
        }
        .dropdown:hover .dropdown-menu {
            perspective: 1000px;
        }
        .sub-dropdown:hover .submenu a:nth-child(1),
        .dropdown:hover .dropdown-menu li:nth-child(1),
        .btn-group:hover .dropdown-menu li:nth-child(1) {
            opacity: 0;
            /*transform-origin: top center;*/
            animation-name: example;
            animation-duration: 300ms;
            animation-fill-mode: forwards;
            animation-timing-function: ease-in-out;
            animation-delay: -150ms;
        }
        .sub-dropdown:hover .submenu a:nth-child(2),
        .dropdown:hover .dropdown-menu li:nth-child(2),
        .btn-group:hover .dropdown-menu li:nth-child(2) {
            opacity: 0;
            /*transform-origin: top center;*/
            animation-name: example;
            animation-duration: 300ms;
            animation-fill-mode: forwards;
            animation-timing-function: ease-in-out;
            animation-delay: 0ms;
        }
        .sub-dropdown:hover .submenu a:nth-child(3),
        .dropdown:hover .dropdown-menu li:nth-child(3),
        .btn-group:hover .dropdown-menu li:nth-child(3) {
            opacity: 0;
            /*transform-origin: top center;*/
            animation-name: example;
            animation-duration: 300ms;
            animation-fill-mode: forwards;
            animation-timing-function: ease-in-out;
            animation-delay: 150ms;
        }
        .sub-dropdown:hover .submenu a:nth-child(4),
        .dropdown:hover .dropdown-menu li:nth-child(4),
        .btn-group:hover .dropdown-menu li:nth-child(4) {
            opacity: 0;
            /*transform-origin: top center;*/
            animation-name: example;
            animation-duration: 300ms;
            animation-fill-mode: forwards;
            animation-timing-function: ease-in-out;
            animation-delay: 300ms;
        }
        .sub-dropdown:hover .submenu a:nth-child(5),
        .dropdown:hover .dropdown-menu li:nth-child(5),
        .btn-group:hover .dropdown-menu li:nth-child(5) {
            opacity: 0;
            /*transform-origin: top center;*/
            animation-name: example;
            animation-duration: 300ms;
            animation-fill-mode: forwards;
            animation-timing-function: ease-in-out;
            animation-delay: 450ms;
        }
        .sub-dropdown:hover .submenu a:nth-child(6),
        .dropdown:hover .dropdown-menu li:nth-child(6),
        .btn-group:hover .dropdown-menu li:nth-child(6) {
            opacity: 0;
            /*transform-origin: top center;*/
            animation-name: example;
            animation-duration: 300ms;
            animation-fill-mode: forwards;
            animation-timing-function: ease-in-out;
            animation-delay: 600ms;
        }
        .sub-dropdown:hover .submenu a:nth-child(7),
        .dropdown:hover .dropdown-menu li:nth-child(7),
        .btn-group:hover .dropdown-menu li:nth-child(7) {
            opacity: 0;
            /*transform-origin: top center;*/
            animation-name: example;
            animation-duration: 300ms;
            animation-fill-mode: forwards;
            animation-timing-function: ease-in-out;
            animation-delay: 750ms;
        }
        .sub-dropdown:hover .submenu a:nth-child(8),
        .dropdown:hover .dropdown-menu li:nth-child(8),
        .btn-group:hover .dropdown-menu li:nth-child(8) {
            opacity: 0;
            /*transform-origin: top center;*/
            animation-name: example;
            animation-duration: 300ms;
            animation-fill-mode: forwards;
            animation-timing-function: ease-in-out;
            animation-delay: 900ms;
        }
        .sub-dropdown:hover .submenu a:nth-child(9),
        .dropdown:hover .dropdown-menu li:nth-child(9),
        .btn-group:hover .dropdown-menu li:nth-child(9) {
            opacity: 0;
            /*transform-origin: top center;*/
            animation-name: example;
            animation-duration: 300ms;
            animation-fill-mode: forwards;
            animation-timing-function: ease-in-out;
            animation-delay: 1050ms;
        }
        .sub-dropdown:hover .submenu a:nth-child(10),
        .dropdown:hover .dropdown-menu li:nth-child(10),
        .btn-group:hover .dropdown-menu li:nth-child(10) {
            opacity: 0;
            /*transform-origin: top center;*/
            animation-name: example1;
            animation-duration: 300ms;
            animation-fill-mode: forwards;
            animation-timing-function: ease-in-out;
            animation-delay: 1200ms;
        }
        .sub-dropdown:hover .submenu a:nth-child(11),
        .dropdown:hover .dropdown-menu li:nth-child(11),
        .btn-group:hover .dropdown-menu li:nth-child(11) {
            opacity: 0;
            /*transform-origin: top center;*/
            animation-name: example;
            animation-duration: 300ms;
            animation-fill-mode: forwards;
            animation-timing-function: ease-in-out;
            animation-delay: 1350ms;
        }
        @keyframes example1 {
            0% {
                opacity: 0;
                transform: rotatey(-90deg) translateY(30px);
            }
            100% {
                opacity: 1;
                transform: rotatey(0deg) translateY(0px);
            }
        }
        @keyframes example {
            0% {
                opacity: 0;
                transform: scale(0.3) translateY(-60px);
            }
            80% {
                transform: scale(1.2) translateY(10px);
            }
            100% {
                opacity: 1;
                transform: scale(1) translateY(0px);
            }
        }
        @keyframes example2 {
            0% {
                opacity: 0;
                transform: rotateX(-90deg);
            }
            70% {
                transform: rotateX(50deg);
            }
            100% {
                opacity: 1;
                transform: rotateX(0deg);
            }
        }
        .dropdown-menu {
            margin-top: 0;
        }
        .dropdown-toggle {
            margin-bottom: 0px;
        }
        .navbar .dropdown-toggle,
        .nav-tabs .dropdown-toggle {
            margin-bottom: 0;
        }
    }
    /* sidenav */
    
    .sidenav {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        text-transform: uppercase;
        top: 0;
        left: 0;
        background-color: #f4f4f4;
        overflow-x: hidden;
        transition: 0.5s;
        border-right: 1px solid black;
    }
    
    .sidenav h4 {
        text-align: center;
        font-weight: bold;
        color: white;
        padding: 10px;
        font-size: 20px;
        position: sticky;
        top: 0px;
        margin: 0;
        line-height: 25px;
        background-color: #35424a;
        border-bottom: 3px #e8491d solid;
    }
    
    .sidenav ul {
        padding: 0;
        margin: 10px;
    }
    
    .sidenav a {
        text-decoration: none;
        font-size: 13px;
        padding: 5px;
        color: black;
        line-height: 20px;
        display: inline-block;
        font-weight: 400;
        transition: 0.3s;
    }
    
    .sidenav a:hover {
        text-decoration: underline;
    }
    /* .sidenav .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
    } */
    
    #main {
        transition: margin-left .5s;
    }
    
    .social {
        margin-top: 20px;
        text-align: center;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 10px;
        padding-bottom: 20px;
        background-color: #35424a;
        border-top: 3px solid #e8491d;
    }
    
    .social .fa {
        font-size: 25px;
        height: 50px;
        width: 50px;
        color: white;
        border: 1px solid white;
        line-height: 40px;
        border-radius: 50%;
    }
    
    .social h5 {
        margin: 0px;
        padding: 0px;
        font-weight: bold;
        text-align: center;
        margin-bottom: 20px;
        color: white;
    }
    
    .fa-facebook {
        background: #3B5998;
        color: white;
    }
    
    .fa-twitter {
        background: #55ACEE;
        color: white;
    }
    
    .fa-google {
        background: #dd4b39;
        color: white;
    }
    /* slide show */
    
    .carousel {
        max-height: 450px;
        width: auto;
        margin: auto;
        overflow: hidden;
    }
    
    .carousel-inner .item img {
        margin: auto;
        height: 450px;
        width: auto;
        object-fit: cover;
        opacity: 0.9;
        transition: transform 3s;
    }
    
    .carousel-caption h4 {
        font-size: 15px;
        opacity: 0.7;
        font-weight: bold;
    }
    
    .carousel-inner .item img:hover {
        transform: scale(1.04);
    }
    /* article */
    
    .sub-container {
        border: 1px solid rgb(70, 69, 69);
        padding: 0;
        background-color: white;
        min-width: 500px;
        max-width: 500px;
        margin: 15px;
        border-radius: 5px 5px 0 0;
        box-shadow: 6px 6px 12px rgba(10, 10, 10, 0.2);
    }
    
    .sub-container:hover {
        background: linear-gradient(to bottom right, rgba(255, 0, 0, 0), rgba(252, 237, 28, 0.685));
        transform: scale(1.01);
    }
    
    .head {
        font-size: 20px;
        border-radius: 5px 5px 2px 2px;
        color: white;
        padding: 10px;
        letter-spacing: 0.4px;
        text-transform: uppercase;
        border-bottom: #e8491d 3px solid;
        background: #35424a;
    }
    
    .content {
        font-size: 15px;
        margin: 10px;
        color: black;
        line-height: 20px;
        padding: 10px;
    }
    
    .content img {
        margin-right: 10px;
        margin-bottom: 10px;
    }
    
    #principal img {
        float: left;
        height: 150px;
    }
    
    .content ul {
        margin: 0;
        width: 100%;
        padding: 0;
    }
    
    .content marquee ul li {
        margin: 0px;
        padding: 0px;
        border-bottom: 1px dotted rgb(70, 69, 69);
    }
    
    .content ul li a:hover {
        font-weight: bold;
    }
    
    .content ul li a {
        display: inline-block;
        padding: 8px;
        text-decoration: none;
        color: #f53906;
    }
    
    .content .quote {
        clear: both;
        font-size: 15px;
        font-weight: bold;
        font-style: italic;
        color: #f53906;
    }
    
    .content .quote span {
        text-align: right;
    }
    
    .flex-container-row1 {
        display: flex;
        flex-flow: wrap;
        justify-content: center;
        flex-direction: row;
    }
    
    .flex-container-row2 {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    
    .color-red {
        color: #35424a;
    }
    
    .fa-spin {
        animation-duration: 4s;
    }
    
    .fa-hand-o-right {
        color: #e8491d
    }
    /* footer */
    
    footer {
        background-color: #35424a;
    }
    
    footer .row {
        background-color: #e8491d;
        padding-left: 30px;
        padding-right: 30px;
        padding-bottom: 10px;
        padding-top: 10px;
        text-align: center;
        color: white;
    }
    
    footer h5 {
        font-size: 17;
    }
    
    footer ul {
        margin: 0;
        padding: 0;
        list-style: circle;
        color: white;
    }
    
    footer ul li {
        margin: 0px;
        padding: 2px;
        font-size: 13px;
    }
    
    footer a {
        color: white;
        text-decoration: none;
    }
    
    footer a:hover {
        color: white;
    }
    
    footer img {
        height: 100px;
        width: 100px;
    }
    
    footer .left-align {
        text-align: left;
    }
    
    footer .left-align h5 {
        font-size: 20px;
    }
    
    footer .last {
        line-height: 25px;
    }
    
    footer .last a {
        padding: 2px 5px;
    }
    
    footer .last p {
        display: inline-block;
        float: right;
        margin: 0px;
        color: rgba(255, 255, 255, 0.856);
    }
    
    .bar1,
    .bar2,
    .bar3 {
        width: 30px;
        height: 3px;
        margin-bottom: 5px;
        background-color: rgba(255, 255, 255, 0.877);
        transition: 0.4s;
    }
    
    .change .bar1 {
        -webkit-transform: rotate(-45deg) translate(-5px, 4px);
        transform: rotate(-45deg) translate(-5px, 4px);
    }
    
    .change .bar2 {
        opacity: 0;
    }
    
    .change .bar3 {
        -webkit-transform: rotate(45deg) translate(-8px, -8px);
        transform: rotate(45deg) translate(-8px, -8px);
    }